*{
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
}
/* ////////////////////////////// */

.left{
    width: 100px;
    height: 175px;
    position: relative;
    background-color: red;
    -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
.left:before{
    content: "";
    width: 100px;
    height: 175px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
    -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 0 50px 50px 0;
  
}